uvicorn~=0.52.4
fastapi~=0.141.1
rich~=15.0.0
pandas~=3.0.5
bcrypt~=5.0.0
SQLAlchemy~=2.0.52
pydantic~=2.13.4
numpy~=2.4.6
scikit-learn~=1.9.0
joblib~=1.5.3
langdetect~=1.0.9
hazm~=0.10.0
pytest~=9.1.1